h1 {
    font-size: 40px;
    text-align: center;
  font-weight: bold;
  color: Darkbrown;
    font-family: Vidaloka, verdana;
}
h2 {
  width: 35%;
}
p {
  width: auto;
}
body {
 background-image:
   url("https://www.xmple.com/wallpaper/linear-grey-brown-gradient-1920x1080-c2-f4a460-d3d3d3-a-120-f-14.svg");
 background-size: cover;
}
.container {
  display: flex;
}

.main {
  width: 65%;
}

.main-top {
  width: 33%;
  padding: 2%;
}
